
.main {
    height: 850px;
    background-image: url(assets/backgrounds/hero.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

h3{
    color: white;
    font-size: 55px;
    font-weight: 300px;
}

header {
/*    display: inline-block;*/

}

.nav nav {
    color: white;
    float: right;
    padding-left: 55%;
}


.text {
    padding-top: 280px
}

.button {
    float: right;
}

.radio {
    background-color: darkgray;
    padding: 20px
}

.logo {
    float: left;
    padding-right: 40%
}

.products {
    align-items: center;
    padding: 3px;
}

.item {
    height: 280px;
    border: solid;
    align-items: center;
    background-color: azure;
    padding: 15px;
}

.tshirt {
    background-color: darkgrey;
    padding: 15px;
}
