
.main {
    height: 850px;
    background-image: url(assets/backgrounds/hero.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

h3{
    color: white;
    font-weight: 300px;
}

header {
    display: inline-block;

}

nav {
    color: white;
    float: right;
    padding-left: 35%;
}


.text {
    padding-top: 356px
}

.button {
    float: right;
}
